argon2-cffi
asgiref
astroid
async-generator
attrs
autopep8
backcall
bleach
bokeh
certifi
cffi
chardet
click
colorama
cycler
decorator
defusedxml
Django
django-crispy-forms
entrypoints
ephem
gTTS
idna
ipykernel
ipython1
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
pycodestyle
pycparser
pyglet
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
pytube
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
requests
screeninfo
Send2Trash
six
SpeechRecognition
sqlparse
terminado
testpath
toml
tornado
traitlets
txt
typing-extensions
urllib3
wcwidth
webencodings
widgetsnbextension
wrapt
xlrd
